body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    margin: 1em 0;
    text-align: center;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    transition: box-shadow 0.3s;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
}

.post .actions {
    margin-top: 10px;
}

.post p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

img {
    max-width: 40%;
}

button.button {
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: #333333;
    color: #fff;
    border: 2px solid #ccc;
}

a.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ccc;
}

input {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:hover {
    border-color: #999;
}

ul {
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 150px;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}


